<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <title>{% block title %}AutoRents{% endblock %}</title>
  <link rel="stylesheet" href="/styles/styles.css">
  <link rel="stylesheet" href="/styles/bulma.css">
</head>
<body>
  <header>
    <nav class="navbar has-background-black-ter" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">Home</a>
      </div>
      <div class="navbar-start">
        <a href="/cars" class="navbar-item">Cars</a>
        <a href="/clients" class="navbar-item">Clients</a>
        <a href="/rents" class="navbar-item">Rents</a>
      </div>
    </nav>
  </header>

  <main>
    {% block content %}
    {% endblock %}
  </main>
  <script src="/js/deleteCar.js"></script>
  <script src="/js/deleteClient.js"></script>
  <script src="/js/deleteRent.js"></script>

</body>
</html>
