body {
  font-family: system-ui;
}

.car-image-view {
  width: 100%;
  height: auto;
  border-radius: 1vh;
}

.logo-figure {
  margin-top: 12rem;
}

.logo-image {
  width: 50%;
  height: auto;
  border-radius: 1vh;
}
